ul{
  list-style-type: none;
}

img{
  height: 200px;
}

.flower-container{
  border: 3px solid grey;
  border-radius: 5px;
  margin-top: 20px;
}

.search-component{
  margin-top: 20px;
}

span{
  font-weight: bold;
}