<div class="row">    
  <div class="col-md-12">
    <button (click)="showStatistics()" class="btn">{{statisticsLabel}} statistics</button>
    <div *ngIf="statistics">
      <statistics></statistics>
    </div>        
    <div *ngIf="data.length" class="flower-container" >
      <div class="search-component">
        <search (sendFlowerInfoToHome)="flowerInfoReceived($event)"></search>
      </div>      
      <h2>Flowers:</h2>  
      <ul>
        <li *ngFor="let flower of data">
          <p class="green-line">---------------------------------------------------------------------------------</p>               
          <h3><span>Flower name:</span> {{flower.name}} <button *ngIf="token" (click)="getFlowerId(flower)" class="btn btn-sm">View Details</button></h3>
          <h4><span>Created on:</span> {{flower.createdOn | date: 'dd/MM/yyyy'}}</h4>
          <p><span>Category:</span> {{flower.category}}</p>
          <p><span>ID:</span> {{flower.id}}</p>
          <p><span>Created by:</span> {{flower.createdBy}}</p>
          <img src="{{flower.image}}" alt="{{flower.name}}" />  
          <p>likes: {{flower.likes.length}}</p>
        </li>
      </ul>
    </div>
    <div *ngIf="!data.length">No flowers found</div>
  </div>  
</div>