<div class="row">
  <div class="col-md-3">
    <!--<categories (categoryId)="threadsToList($event)"></categories>-->    
  </div>  
  <div class="col-md-6 flower-container">
    <h2>Flowers:</h2>  
    <ul>
      <li *ngFor="let flower of data">
        <h3><span>Flower name:</span> <a (click)="getFlowerId(flower)">{{flower.name}}</a></h3>
        <h4><span>Createt on:</span> {{flower.createdOn | date: 'dd/MM/yyyy'}}</h4>
        <p><span>Category:</span> {{flower.category}}</p>
        <p><span>ID:</span> {{flower.id}}</p>
        <p><span>Created by:</span> {{flower.createdBy}}</p>
        <img src="{{flower.image}}" alt="{{flower.name}}" />  
        <p>-----------------------------------------------------------------------------------------------------------------</p>      
      </li>
    </ul>
  </div>
  <div class="col-md-3"></div>
</div>