<h1>My flowers:</h1>
<ul>
  <li *ngFor="let flower of data">
    <p>name: {{flower.name}}</p>
    <img src="{{flower.image}}" alt="{{flower.name}}" />    
    <p>------------------------------------------------------------</p>
  </li>
</ul>

<div *ngFor="let purchase of purchasedFlowers">
  <h2>My last purchase:</h2>
  <p>Flower Name: {{purchase.flower.name}}</p>
  <p>Price: {{purchase.flower.price}} &euro;</p>
  <p>payment method: {{purchase.data.paymentMethod}}</p>
  <img src="{{purchase.flower.image}}" />
<br />
</div>
<div *ngIf="purchasedFlowers.length">
  Total items: {{purchasedFlowers.length}}
  <br />
  Total: {{total}} &euro;
</div>