<h1>My flowers:</h1>
<ul>
  <li *ngFor="let flower of data">
    <p>name: {{flower.name}}</p>
    <img src="{{flower.image}}" alt="{{flower.name}}" />    
    <p class="green-line">------------------------------------------------------------</p>
  </li>
</ul>
<h2>My purchases:</h2>
<div *ngFor="let purchase of purchasedFlowers">
  <p class="green-line">---------------------------------</p>
  <p><span>Flower Name:</span> {{purchase.flower.name}}</p>
  <p><span>Price:</span> {{purchase.flower.price}} &euro;</p>
  <p><span>payment method:</span> {{purchase.data.paymentMethod}}</p>
  <img src="{{purchase.flower.image}}" />
<br />
</div>
<div *ngIf="purchasedFlowers.length">
  <p><span>Total items:</span> {{purchasedFlowers.length}}</p>
  <br />
  <p class="total-price"><span>Total:</span> {{total}} &euro;</p>
</div>