<h1>Flower Details:</h1>

<h1>Name: {{data.name}}</h1>
<h2>Category: {{data.category}}</h2>

<img src="{{data.image}}" />
<div>
  <button class="btn" (click)="getFlowerId(data.id)">Create Review</button>
</div>
<div>
  <button class="btn" (click)="like(data.id)">Like this</button>
</div>
<div>
  <button class="btn btn-danger" (click)="delete(data.id)">Delete this</button>
</div>

<div>
  <h3>Reviews:</h3>  
  <ul>
    <li *ngFor="let review of reviewsData">
      <p>rating: {{review.rating}}</p>
      <p>comment: {{review.comment}}</p>
      <p>from: {{review.user}}</p>
      <p>----------------------------------------------------------</p>
    </li>
  </ul>
</div>
