img{
  height: 400px;
}

span, h1{
  color: #3C3C3C;
  font-weight: bold;
}

.review-container{
  background-color: #51A351;
  border-radius: 5px;
}

.review-container p, .review-container h3{
  color: #fff;
}